@import "reset/reset.scss";

$purple: #936EDB;
$black-gray: #393939;
$black: #000000;
$white: #ffffff;
$gray: #cccccc;

$coresFundoEscuro: ('purple': $purple, 'black-gray': $black-gray, 'black': $black);
$coresFundoClaro: ('white': $white, 'gray': $gray);
$cores: map-merge($coresFundoClaro, $coresFundoEscuro);
$container: ('border': 1px solid $purple, 'border-radius': 5px, 'background-color': $purple, 'color': $white, 'padding': 10px, 'margin': 10px, 'min-width': 300px);
$alinhamentosDeTexto: ('left': left, 'right': right, 'center': center, 'justify': justify);

@mixin listContainer($lista){
  .hcw-container {
      @each $propriedade, $valor in $lista{
        #{$propriedade}: #{$valor};
      }
  }
}
@mixin listAligns($lista){
  @each $nome, $valor in $lista{
    .hcw-text-#{$nome} {
      text-align: $valor;
    }
  }
}
@mixin listBackgroundColor($lista, $cor){
    @each $nome, $valor in $lista{
      .hcw-background-#{$nome}, .hcw-hover-#{$nome}:hover{
        background-color: $valor !important;
        border-color: $valor !important;
        color: $cor !important;
      }
    }
}

@mixin listTextAndBorderColor($lista){
  @each $nome, $valor in $lista{
    .hcw-text-#{$nome}, .hcw-text-hover-#{$nome}:hover{
      color: $valor !important;
    }
  }
  @each $nome, $valor in $lista{
    .hcw-text-#{$nome}, .hcw-border-hover-#{$nome}:hover{
      border-color: $valor !important;
    }
  }
}

p { text-indent: 15px; }
.hcw-card, .hcw-card-2 { box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12); }
.hcw-card-4, .hcw-hover-shadown:hover{ box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 20px 0 rgba(0, 0, 0, 0.19); }

// Formulários
.hcw-input { padding: 8px; display:  block; border: none; border-bottom: 1px solid $purple; width: 99%; min-width: 300px; }
.hcw-animate-input { transition: width 0.4s easy-in-out }
.hcw-animate-input:focus{ width: 99% !important; }
.hcw-checkbox, .hcw-radiobutton { width: 20px; height: 20px; position: relative; top: 5px; }


// Cores de fundo
@include listBackgroundColor($coresFundoClaro, $black);
@include listBackgroundColor($coresFundoEscuro, $white);
// Cor de texto
@include listTextAndBorderColor($cores);
// Alinhamentos de texto
@include listAligns($alinhamentosDeTexto);
// Container
@include listContainer($container);
