/*
-----------------[Reset do css]---------------------------------
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

input {
  margin: 0;
  overflow: visible;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  text-indent: 15px;
}

.hcw-card, .hcw-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.hcw-card-4, .hcw-hover-shadown:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.hcw-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #936EDB;
  width: 99%;
  min-width: 300px;
}

.hcw-animate-input {
  transition: width 0.4s easy-in-out;
}

.hcw-animate-input:focus {
  width: 99% !important;
}

.hcw-checkbox, .hcw-radiobutton {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
}

.hcw-background-white, .hcw-hover-white:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}

.hcw-background-gray, .hcw-hover-gray:hover {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #000000 !important;
}

.hcw-background-purple, .hcw-hover-purple:hover {
  background-color: #936EDB !important;
  border-color: #936EDB !important;
  color: #ffffff !important;
}

.hcw-background-black-gray, .hcw-hover-black-gray:hover {
  background-color: #393939 !important;
  border-color: #393939 !important;
  color: #ffffff !important;
}

.hcw-background-black, .hcw-hover-black:hover {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}

.hcw-text-white, .hcw-text-hover-white:hover {
  color: #ffffff !important;
}

.hcw-text-gray, .hcw-text-hover-gray:hover {
  color: #cccccc !important;
}

.hcw-text-purple, .hcw-text-hover-purple:hover {
  color: #936EDB !important;
}

.hcw-text-black-gray, .hcw-text-hover-black-gray:hover {
  color: #393939 !important;
}

.hcw-text-black, .hcw-text-hover-black:hover {
  color: #000000 !important;
}

.hcw-text-white, .hcw-border-hover-white:hover {
  border-color: #ffffff !important;
}

.hcw-text-gray, .hcw-border-hover-gray:hover {
  border-color: #cccccc !important;
}

.hcw-text-purple, .hcw-border-hover-purple:hover {
  border-color: #936EDB !important;
}

.hcw-text-black-gray, .hcw-border-hover-black-gray:hover {
  border-color: #393939 !important;
}

.hcw-text-black, .hcw-border-hover-black:hover {
  border-color: #000000 !important;
}

.hcw-text-left {
  text-align: left;
}

.hcw-text-right {
  text-align: right;
}

.hcw-text-center {
  text-align: center;
}

.hcw-text-justify {
  text-align: justify;
}

.hcw-container {
  border: 1px solid #936EDB;
  border-radius: 5px;
  background-color: #936EDB;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  min-width: 300px;
}

/*# sourceMappingURL=hcw.css.map */
